*{
    font-family: Arial;
}

h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 1em;
}
h2 {
  font-size: 1em;
  color: #999;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
td {
    vertical-align: text-top;
}

img{
    max-height: 100px;
    max-width: 100px;
}

.searchButton {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.div-nation{
    
    background-color: #EEE;
}


.resultBox{
    max-width: 300px;
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;
}

.div-region, .div-subregion{
    padding-left: 1em;
}


#div-error{
    padding: 1em 0 0 5em;
}