img{
    max-height: 100px;
    max-width: 100px;
}
.div-nation{
    border: black;
    background-color: brown;
    max-width: 300px;
    margin: 1em 1em 1em 1em;
}

.div-result-summary{
    border: black;
    background-color: brown;
    max-width: 300px;
    margin: 1em 1em 1em 1em;
}