img{
    max-height: 100px;
    max-width: 100px;
}
.div-nation{
    border: black;
    background-color: brown;
    margin: 1em 0 1em 0;
}

.div-result-summary{
    border: black;
    background-color: brown;
    margin: 1em 0 1em 0;
}